$color-dark: #242424;
$color-light: rgba(255, 255, 255, 0.87);
.btn {
  width: 20%;
  margin: 2vw;
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
  color: $color-light;
  background-color: $color-dark;
}

.btn:hover {
  cursor: pointer;
  animation-name: hover-in; 
  animation-duration: 2s;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes hover-in {
  from {
    color: $color-light;
    background-color: $color-dark;
  }
  to {
    color: $color-dark;
    background-color: $color-light;
  }
}